Options +FollowSymLinks
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sale

    # Разрешаем доступ к существующим файлам
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Разрешаем прямой доступ к test директории
    RewriteRule ^test/ - [L]

    # Остальные запросы направляем на index.php
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/javascript .js
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set X-Content-Type-Options ""
</IfModule>

<FilesMatch "\.(css)$">
    SetEnv CSS 1
</FilesMatch>

<FilesMatch "\.(js)$">
    SetEnv JS 1
</FilesMatch> 